html{
    background-color: #121212;
    background-image: url(img/background3.jpg);
    background-size: 100%;
    color: lightgrey;
    overflow: visible;
    background-repeat: no-repeat;
  }
  @keyframes change {
    0%
    {
      background-image: url(img/background4.jpg);
    }
    25%
    {
      background-image: url(img/background5.jpg);
    }
    50%
    {
      background-image: url(img/background6.jpg);
    }
    75%
    {
      background-image: url(img/background7.jpg);
    }
    100%
    {
      background-image: url(img/background3.jpg);
    }
  }

  .logoimg {
    flex: auto;
    width: 9%;
    height: 10%;
    margin-bottom: 2px;
    margin-left: 46%;
  }

  /* Text Area Styling */

  textarea {
    color: white; 
    padding: 12px 20px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: none;
    width: 100%;
    outline: none;
    height: 300px;
    border-radius: 4px;
    background-color: rgba(129, 129, 129, 0.356);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgba(54, 54, 54, 0.7);
  }
  textarea::placeholder{
    color:white; 
  }
  h8 {
    color: white;
    font-size: 20px; 
    margin-left: 5px;
  }

  input[type=file] {
    color: white;
    font-size: 20px;
    padding: 12px 20px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: none;
    width: 100%;
    outline: none;
    height: 300px;
    border-radius: 4px;
    background-color: rgba(129, 129, 129, 0.356);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgba(54, 54, 54, 0.7);
  }
  
  input::file-selector-button {
    width: 25%;
    color: black;
    font-size: 20px;
    padding: 8px 18px;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgba(54, 54, 54, 0.7);
    cursor: pointer;
  }
  .column1 {
    float: left;
    background-color:#121212;
    width: 50%;
    height: 700px;
  }
  .column2 {
    margin-top: 30px;
    background-color:#202020;
    width: 50%;
    margin-left: 50%;
    height: 700px;
  }
  .column2 input{
      width: 90%;
      border-radius: 3%;
    }


    .column3 {
      float: left;
      background-image: linear-gradient(to left, rgba(63, 63, 63, 0.685), rgb(0, 0, 0));
      width: 40%;
      height: 1300px;
      
    }

    button5 {
      float: none;
      padding: 16px 130px;
      margin-left: 20px;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
    }
    button5:hover {
      box-shadow: 0 12px 16px 0 rgba(201, 201, 201, 0.541), 0 17px 50px 0 rgba(201, 201, 201, 0.100);
    }

    .landing {
      margin-bottom: 30px;
    }
    .landing2 {
      margin-bottom: 400px;
    }
    .landing3 {
      color: white;
    }
    .landing4 {
      color: white;
    }


  html b {
      font-family: Arial, Helvetica, sans-serif;
  }
  
  p {
    font-size: 11px;
  }
  
  li {
    list-style-type: none;
  }
  
  a1 img {
    border-radius: 100%;
    width: 25px;
    height: 25px;
  }
  h7 {
    font-size: 12px;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
  }
  
    /* Set a style for all buttons */
    button {
      background-color: #04AA6D;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }
  
    button1 {
      background-color: orange;
      color: black;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      text-align: center;
    }
  
    button2 {
      background-color: red;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      text-align: center;
    }
  
    button3 {
      background-color: orange;
      color: black;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      text-align: center;
      text-decoration: none;
    }
  
    a {
      text-decoration: none;
    }
  
    /* Add a hover effect for buttons */
    button:hover {
      opacity: 0.8;
    }
    button1:hover {
      opacity: 0.8;
    }
    button2:hover {
      opacity: 0.8;
    }
    button3:hover {
      opacity: 0.8;
    }
  
    span1{
      color: #04AA6D;
      text-decoration: none;
    }
  
    span3{
      color: red;
    }
  
    * {
    box-sizing: border-box;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column1{
      width: 110%;
      float: none;
    }
    .column2{
      margin-top: 30px;
      width: 110%;
      float: none;
      margin-left: 0%;
    }
  }
  
    /* Extra style for the cancel button (red) */
    .cancelbtn {
      width: auto;
      padding: 10px 18px;
      background-color: #f44336;
    }
    .registerbtn {
      width: auto;
      padding: 12px 36px;
      background-color: #f4ae36;
    }
  
    /* Center the avatar image inside this container */
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
      background-color: rgba(90, 90, 90, 0.7);
      border-radius: 10px;
      box-shadow: 1px 1px 10px 10px rgba(190, 190, 190, 0.7);
    }
    .imgcontainer img {
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .imgcontainer2 {
      width: 95%;
      background-color: rgba(90, 90, 90, 0.7);
      text-align: center;
      margin: 40px 10px 30px 20px;
      border-radius: 10px;
      box-shadow: 1px 1px 5px 5px rgba(190, 190, 190, 0.7);
    }
    
    .imgcontainer2 img {
      border-radius: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    /* Avatar image */
    img.avatar {
      width: 40%;
    }
  
    /* Add padding to containers */
    .container {
      padding: 16px;
    }
  
    .spacer{
      margin-top: 100px;
    }
  
    /* The "Forgot password" text */
    span.psw {
      align-self: center;
    }
  
    .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #303030;
    color: white;
    text-align: center;
  }
  
  .w3-theme1 {
    background-color: #404040;
  }
  
  
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
  
      html {
        overflow: visible;
        background-size: 10%;
      }
  
      span.psw {
        display: block;
        float: none;
      }
  
      .cancelbtn {
        width: 100%;
      }
  
      a1 img {
        display: none;
      }
  
      #projects {
        width: 400px;
        margin: 130px 100px 0 auto
      }
  
      #projects ul {
        padding: 0;
      }
  
      #projects ul li {
        width: 100%;
        float:left;
        margin-bottom: 15px;
        margin-left: 5px;
        margin-right: 5px;
      }
  
      #projects img {
        width: 113px;
        height: 75px;
        border-radius: 5px;
      }
  
      #projects img:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
      }
    }
  
    @media screen and (min-width: 1000px){
      html{
          animation: change 30s infinite ease-in-out;
          -webkit-animation: change 30s infinite ease-in-out;
          -moz-animation: change 30s infinite ease-in-out;
          -o-animation: change 30s infinite ease-in-out;
      }
      .imgcontainer {
        text-align: center;
        margin: 70px 750px 12px 750px;
        width: 40%;
      }
      .center{
        margin-top: 50px;
      }
      /* Avatar image */
      img.avatar {
        width: 40%;
      }
      span{
        font-size: 20px;
      }
      span1{
        color: #04AA6D;
        font-size: 20px;
        text-decoration: none;
      }
      span1:hover {
        opacity: 0.8;
      }
  
      /* Full-width inputs */
      input[type=text], input[type=password] {
        width: 20%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid black;
        box-sizing: border-box;
      }
  
      button {
        margin-top: 50px;
        width: 20%;
      }
  
      button1 {

      width: 90%;
      height: 60px;
      border: 1px solid;
      color: white;
      border-radius: 25px;
      font-size: 24px;
      background: linear-gradient(120deg,#34f766,#0d6924);
      font-weight: 800;
      cursor: pointer;
      outline: none;
      margin-left: 45px;
      border-color: #26d953;

      }

      button1:hover {
      border-color: white;
      transition: .5s;
      }
  
      button2 {
        width: 10%;
      }
  
      button3 {
        width: 10%;
      }

      /* Select Styling */

      .drop {
      width: 220px;
      height: 40px;
      border: 1px solid rgb(22, 22, 22);
      font-size: 20px;
      color: black;
      background-color: #eee;
      border-radius: 5px;
      box-shadow: 3px 4px rgba(22, 22, 22, 0.336);
      cursor: pointer;
      }
  
      #projects {
        width: 1900px;
        margin: 130px 100px 0 auto
      }
  
      #projects ul {
        padding: 0;
      }
  
      #projects ul li {
        width: 25.5%;
        float:left;
        margin-bottom: 15px;
        margin-left: 5px;
        margin-right: 5px;
      }
  
      #projects img {
        width: 450px;
        height: 300px;
        border-radius: 5px;
  
      }
  
      #projects img:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
      }
    }
  
        /* FULL HD Compatible */
  
    @media screen and (width: 1920px){
      .imgcontainer {
        text-align: center;
        margin: 70px 50px 12px 580px;
        width: 40%;
      }
  
      /* Avatar image */
      img.avatar {
        width: 40%;
      }
      span{
        font-size: 20px;
      }
      span1{
        color: #04AA6D;
        font-size: 20px;
        text-decoration: none;
      }
      span1:hover {
        opacity: 0.8;
      }
  
      /* Full-width inputs */
      input[type=text], input[type=password] {
        width: 20%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid black;
        box-sizing: border-box;
      }
  
      button {
        margin-top: 50px;
        width: 20%;
      }
  
      button3 {
        width: 15%;
      }
  
      #projects {
        width: 1900px;
        margin: 130px 100px 0 auto
      }
  
      #projects ul {
        padding: 0;
      }
  
      #projects ul li {
        width: 25.5%;
        float:left;
        margin-bottom: 15px;
        margin-left: 120px;
        margin-right: 5px;
      }
  
      #projects img {
        width: 450px;
        height: 300px;
        border-radius: 5px;
  
      }
  
      #projects img:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
      }
    }
    /* new Design for login */
    .center{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 550px;
      background-color: rgba(90, 90, 90, 0.7);
      border-radius: 10px;
      box-shadow: 1px 1px 10px 10px rgba(190, 190, 190, 0.7);
    }
    .center h1{
      text-align: center;
      padding: 0 0 20px 0;
      border-bottom: 1px solid silver;
      color: white;
    }
    .center form{
      padding: 0 40px;
      box-sizing: border-box;
    }
    /* new Design for Page Creations */
    .center2{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      margin-top: 175px;
      width: 1000px;
      background-color: rgba(90, 90, 90, 0.7);
      border-radius: 10px;
      box-shadow: 1px 1px 10px 10px rgba(190, 190, 190, 0.7);
    }
    .center2 h1{
      text-align: center;
      padding: 0 0 20px 0;
      border-bottom: 1px solid silver;
      color: white;
    }
    .center2 form{
      padding: 0 40px;
      box-sizing: border-box;
    }

    form .txt_field{
      position: relative;
      border-bottom: 2px solid white;
      margin: 30px 0;
    }
    .text_field input {
      width: 100%;
      background-color: grey;
      color: white;
    }
    .text_field label{
      color: white;
      margin-left: 23px;
    }
  
    .txt_field input{
      width: 100%;
      padding: 0 5px;
      height: 40px;
      font-size: 22px;
      border: none;
      background: none;
      outline: none;
      color: white;
    }
    .txt_field label{
      position: absolute;
      top: 50%;
      left: 5px;
      color: white;
      transform: translateY(-50%);
      font-size: 20px;
      pointer-events: none;
      transition: .5s;
      margin-left: 20px;
    }
  
    .txt_field span::before{
      content: '';
      position: absolute;
      top: 56px;
      left: 0;
      width: 0%;
      height: 2px;
      background: #1ca33e;
      transition: .5s;
    }
    .txt_field input:focus ~ label,
    .txt_field input:valid ~ label{
      top: -5px;
      color: #1ca33e;
    }
    .txt_field input:focus ~ span::before,
    .txt_field input:valid ~ span::before{
      width: 100%;
    }
    .pass{
      margin: -7px 0 20px 25px;
      color: white;
      cursor: pointer;
      font-size: 18px;
  
    }
    .pass:hover{
      text-decoration: underline;
    }
    input[type="submit"]{
      width: 90%;
      height: 50px;
      border: 1px solid;
      color: white;
      border-radius: 25px;
      font-size: 20px;
      background: linear-gradient(120deg,#34f766,#0d6924);
      font-weight: 700;
      cursor: pointer;
      outline: none;
      margin-left: 30px;
      border-color: #26d953;
    }
    input[type="submit"]:hover{
      border-color: white;
      transition: .5s;
    }
    .style2 input[type="submit"]{
      width: 90%;
      height: 50px;
      border: 1px solid;
      color: white;
      border-radius: 25px;
      font-size: 20px;
      background: linear-gradient(120deg,#d1ae11,#d98609);
      font-weight: 700;
      cursor: pointer;
      outline: none;
      margin-left: 30px;
      border-color: #d1ae11
    }
    .style2 input[type="submit"]:hover{
      border-color: white;
      transition: .5s;
    }
    .style3 input[type="submit"]{
      width: 90%;
      height: 50px;
      border: 1px solid;
      color: white;
      border-radius: 25px;
      font-size: 20px;
      background: linear-gradient(120deg,#0394fc,#0447ac85);
      font-weight: 700;
      cursor: pointer;
      outline: none;
      margin-left: 10px;
      border-color: #0394fc
    }
    .style3 input[type="submit"]:hover{
      border-color: white;
      transition: .5s;
    }
    .style4 input[type="submit"]{
      width: 90%;
      height: 50px;
      border: 1px solid;
      color: white;
      border-radius: 25px;
      font-size: 20px;
      background: linear-gradient(120deg,#0394fc,#0447ac85);
      font-weight: 700;
      cursor: pointer;
      outline: none;
      margin-left: 30px;
      border-color: #0394fc
    }
    .style4 input[type="submit"]:hover{
      border-color: white;
      transition: .5s;
    }
  
    .signup_link{
      margin: 30px 0;
      text-align: center;
      font-size: 16px;
      color: white;
    }
    .signup_link a{
      color: #26d953;
      text-decoration: none;
    }
    .signup_link a:hover{
      text-decoration: underline;
    }
    @media screen and (max-width: 535px){
      html{
        background-color: #121212;
        background-image: url(img/background2.jpg);
        background-size: 120%;
        color: lightgrey;
        overflow: visible;
      }
      .center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 350px;
        background-color: rgba(90, 90, 90, 0.7);
        border-radius: 10px;
        box-shadow: 2px 5px 4px 1px rgba(190, 190, 190, 0.7);
      }
      .center h1{
        text-align: center;
        padding: 0 0 10px 0;
        border-bottom: 1px solid silver;
        color: white;
        font-size: 25px;
      }
      .center form{
        padding: 0 20px;
        box-sizing: border-box;
      }
      form .txt_field{
        position: relative;
        border-bottom: 2px solid white;
        margin: 30px 0;
      }
      .txt_field input{
        width: 100%;
        padding: 0 5px;
        height: 40px;
        font-size: 16px;
        border: none;
        background: none;
        outline: none;
        color: white;
      }
      .txt_field label{
        position: absolute;
        top: 50%;
        left: 5px;
        color: white;
        transform: translateY(-50%);
        font-size: 16px;
        pointer-events: none;
        transition: .5s;
      }
      .place_hold {
        visibility: hidden;
      }
      .pass{
        margin: -5px 0 20px 25px;
        color: white;
        cursor: pointer;
        font-size: 16px;
      }
      input[type="submit"]{
        width: 90%;
        height: 50px;
        border: 1px solid;
        color: white;
        border-radius: 25px;
        font-size: 20px;
        background: linear-gradient(120deg,#34f766,#0d6924);
        font-weight: 700;
        cursor: pointer;
        outline: none;
        margin-left: 17px;
        border-color: #26d953;
    }
      .style2 input[type="submit"]{
        width: 90%;
        height: 50px;
        border: 1px solid;
        color: white;
        border-radius: 25px;
        font-size: 20px;
        background: linear-gradient(120deg,#d1ae11,#d98609);
        font-weight: 700;
        cursor: pointer;
        outline: none;
        margin-left: 17px;
        border-color: #d1ae11
      }
      .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
      }
    }

    /*Drag And Drop CSS file*/
    
    .files input {
      
      background: linear-gradient(to right, rgba(133, 133, 133, 0.781), rgba(133, 133, 133, 0.781));
      outline: 2px dashed #ffffff;
      outline-offset: -10px;
      -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
      transition: outline-offset .15s ease-in-out, background-color .15s linear;
      padding: 120px 0px 150px 35%;
      text-align: center !important;
      margin: 0;
      width: 100% !important;
  }
  .files input:focus{     outline: 2px dashed #ffffff;  outline-offset: -10px;
      -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
      transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
   }
  .files{ position:relative}
  .files:after {  pointer-events: none;
      position: absolute;
      top: 60px;
      left: 0;
      width: 50px;
      right: 0;
      height: 56px;
      content: "";
      display: block;
      margin: 0 auto;
      background-size: 100%;
      background-repeat: no-repeat;
  }
  .color input{ background-color:#f1f1f1;}
  .files:before {
      position: absolute;
      bottom: 10px;
      left: 0;  pointer-events: none;
      width: 100%;
      right: 0;
      height: 57px;
      content: " Drag file in or upload from the button ";
      display: block;
      margin: 0 auto;
      color: #ffffff;
      font-weight: 600;
      text-transform: capitalize;
      text-align: center;
  }